@charset "utf-8";

@font-face {
    font-family: KIASignature;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/KiaSignatureLight.woff2') format('woff2');
}

@font-face {
    font-family: KIASignature;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/KiaSignatureRegular.woff2') format('woff2');
}

@font-face {
    font-family: KIASignature;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/KiaSignatureBold.woff2') format('woff2');
}


